<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<head>
<meta charset="UTF-8">
<title>Mural de Vagas</title>
</head>
<body>
	<header>
	      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	        
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">	          
	          <form class="form-inline mt-2 mt-md-0" method="get" th:action="@{/pesquisar/vagas}" th:object="${Lista}" >
	            <input id="filter" type="text" th:field="*{vaga}" class="form-control input-sm w-auto inline m-r"/>
	            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	          </form>
	        </div>
	      </nav>
	    </header>
	    
		<div class="main">
			<h2>Mural de Vagas</h2>
			
				<table class="table table-hover">
				<thead>
					<th scope="col">id</th>
					<th scope="col">Empresa</th>
					<th scope="col">Vaga</th>
					<th scope="col">Descrição</th>
					<th scope="col">Salário</th>					
				</thead>
				<tbody>
					<tr th:each="vaga : ${lista}">
						<td th:text="${vaga.id}"></td>
						<td th:text="${vaga.empresa}"></td>
						<td th:text="${vaga.vaga}"></td>
						<td th:text="${vaga.descricao}"></td>
						<td th:text="${#numbers.formatDecimal(vaga.salario,1,2,'COMMA')}"/>				 
					</tr>
				</tbody>
				
			</table> 
		</div>	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>